@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .cb {
        @apply border-[1px] border-[#f00]
    }
    .menuLi {
        @apply text-c_gray-regular cursor-pointer not-italic font-semibold
        ms:text-[14px] ms:leading-[14px]
        text-[26px] leading-[26px]
    }
    .buttonMenu {
        @apply flex justify-center rounded-[6px]
        bg-c_orange-regular hover:bg-c_orange-hover active:bg-c_orange-pressed
        ms:w-[135px] ms:h-[37px] ms:pt-[10px]
        w-[111px] h-[30px] pt-[7px]
        drop-shadow-default hover:drop-shadow-hover
    }
    .buttonText {
        @apply text-c_gray-regular cursor-pointer font-otf not-italic font-semibold
        ms:menuLi
    }
    .menuUl {
        @apply duration-500
        ms:w-[416px] ms:h-[37px]
        w-full h-[100vh] absolute text-center bg-c_purple-header left-0
        ms:flex ms:justify-between ms:items-center ms:bg-none ms:relative ms:top-0 ms:text-left
    }
    .startPageText {
        @apply font-otf not-italic font-semibold
        md:text-[58px] md:leading-[55.68px]
        text-[26px] leading-[26px]

    }
    .startPageTheLoop {
        @apply absolute xl:w-[1280px] md:w-[1024px] md:h-[773.78px] z-[1]
        xl:top-[271px] xl:right-0
        xs:top-[212px] xs:right-[100px]
        md:top-[400px] right-[-31px]
        bottom-0 w-[767px] h-[400px]
        bg-center bg-no-repeat bg-contain
        bg-startPageTheLoop
    }
    .startProjects {
        @apply absolute 
        xs:w-[552px] xs:h-[842px] xs:bg-auto
        md:w-[400px] md:h-[480px] bg-contain
        w-[300px] h-[469px]
        bg-bottom bg-no-repeat 
        bottom-0 right-0
        bg-startProjects
    }
    .trapezoidCorner {
        @apply absolute z-[2] bg-c_gray-trapezoid
        trapezoid 
        xs:top-[363.5px] xs:right-[471.8px] 
        md:top-[545px] md:right-[320px] md:w-[80px] md:h-[80px]
        top-[284px] right-[270px]  w-[30px] h-[30px]
    }
    .pageTitle {
        @apply font-otf not-italic font-semibold
        md:text-[60px] md:leading-[57.9px]
        text-[26px] leading-[25px]
    }
    .ourProjectsTheLoop {
        @apply absolute xl:w-[1280px] xl:h-[395px]
        top-[50px] left-0
        bg-center bg-no-repeat bg-contain
        bg-ourProjectsTheLoop
    }
    .ourProjectStyleTitle {
        @apply font-otf not-italic font-semibold text-c_blue-dark
        md:text-[45px] md:leading-[43px] md:p-0
        text-[21px] leading-[22px] pb-[10px]
    }
    .ourProjectStyleSubTitle {
        @apply font-otf not-italic font-semibold text-c_blue-deepDark
        md:text-[18px] md:leading-[21.6px] md:h-max
        text-[15px] leading-[18px] w-[320px] h-[72px]
    }
    .iconMedia {
        @apply flex justify-center items-center
        xl:mx-[35px]
        md:w-[158px] md:h-[59px] 
        w-[84px] h-[31px]
    }
    .wrapperLine {
        @apply absolute z-10
    }
    .worksTextStyle {
        @apply font-otfNormal not-italic font-normal text-c_blue-deepDarkOp
        md:text-[18px] md:leading-[21.6px] md:h-max
        text-[15px] leading-[18px]
    }
    .moreAcceleratorTheLoop {
        @apply absolute bg-center bg-no-repeat bg-contain 
        xs:h-[312px] xs:w-[1200px]
        md:h-[201px] md:w-[700px]
        h-[109px] w-[498px]
        top-[20px] left-[-10px]
        bg-moreAcceleratorLoop
    }
    .contactText {
        @apply
        ms:text-[50px] md:leading-[55px] ms:w-[870px] ms:pb-[75px]
        text-[26px] leading-[31px]  w-[90vw] pb-[30px]
    }
    .contactLink {
        @apply opacity-70 text-c_orange-regular pl-[5px]
        hover:cursor-pointer hover:opacity-[1]
        active:cursor-pointer   active:opacity-[1] 
    }

}    

@font-face {
    font-family: 'otf';
    src: url("/public/fonts/otf/SuisseIntl-SemiBold.otf");
}
@font-face {
    font-family: 'otfNormal';
    src: url("../public/fonts/otf/SuisseIntl-Book.otf");
}
@font-face {
    font-family: 'otfBold';
    src: url("../public/fonts/otf/SuisseIntl-Bold.otf");
}

@layer utilities{
    .trapezoid {
        clip-path: polygon(0 45%, 45% 0, 100% 0, 0% 100%);
    }
    .gradientBackGround {
        background: 
            linear-gradient(181.04deg, #2E2B59 0.89%, #32476F 50.61%, #4B3882 93.94%), 
            linear-gradient(180.43deg, #2E2B59 37.77%, #3991B7 60.04%, #B97333 78.65%);
    }
    .photoRadius {
        border-radius: 10px 60px;
    }
}