@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .cb {
        @apply border-[1px] border-[#f00]
    }
    .menuLi {
        @apply text-c_gray-regular cursor-pointer font-otf-semiBold not-italic
        ms:text-[14px] ms:leading-[14px]
        text-[26px] leading-[26px]
    }
    .buttonMenu {
        @apply flex justify-center items-center rounded-[6px]
        bg-c_orange-regular hover:bg-c_orange-hover active:bg-c_orange-pressed
        ms:w-[135px] ms:h-[37px]
        w-[111px] h-[30px]
        drop-shadow-default hover:drop-shadow-hover
    }
    .buttonText {
        @apply text-c_gray-regular cursor-pointer not-italic font-otf-semiBold
        ms:menuLi
    }
    .menuUl {
        @apply duration-500
        ms:w-[416px] ms:h-[37px]
        w-full h-[100vh] absolute text-center bg-c_purple-header left-0
        ms:flex ms:justify-between ms:items-center ms:bg-none ms:relative ms:top-0 ms:text-left
    }
    .startPageText {
        @apply not-italic font-otf-semiBold
        md:text-[58px] md:leading-[55px]
        text-[26px] leading-[26px]

    }
    .startPageTheLoop {
        @apply absolute w-[1280px] h-full z-[1]
        xl:top-[-130px] xl:right-[-50px]
        md:top-[-80px] md:right-[-110px]
        top-[-30px] right-[-370px]
        bg-center bg-no-repeat bg-contain
        bg-startPageTheLoop
    }
    .startProjects {
        @apply absolute w-full h-full
        xl:bg-contain bg-cover bg-top bg-no-repeat 
        bottom-0 right-0
        bg-startProjects startRadius
    }
    .trapezoidCorner {
        @apply absolute z-[2] bg-c_gray-trapezoid
        trapezoid top-0 left-0 
        w-[80px] h-[80px]
    }
    .pageTitle {
        @apply not-italic font-otf-semiBold
        md:text-[60px] md:leading-[57.9px]
        text-[26px] leading-[25px]
    }
    .ourProjectsTheLoop {
        @apply absolute 
        xl:w-[1280px] xl:h-[395px]
        
        w-[602px] h-[176px]
        top-[50px] left-0
        bg-center bg-no-repeat bg-contain
        bg-ourProjectsTheLoop
    }
    .ourProjectStyleTitle {
        @apply not-italic font-otf-semiBold text-c_blue-dark
        md:text-[45px] md:leading-[43px] md:p-0
        text-[21px] leading-[22px] pb-[10px]
    }
    .ourProjectStyleSubTitle {
        @apply font-otf-semiBold not-italic  text-c_blue-deepDark
        md:text-[18px] md:leading-[21.6px] md:h-max
        text-[15px] leading-[18px] xl:w-[500px] w-[320px] h-[72px]
    }
    .iconMedia {
        @apply flex justify-center items-center
        xl:mx-[35px]
        md:w-[158px] md:h-[59px] 
        w-[84px] h-[31px]
    }
    .wrapperLine {
        @apply absolute z-10
    }
    .worksTextStyle {
        @apply not-italic font-otf-book text-c_blue-deepDarkOp
        md:text-[18px] md:leading-[21.6px] md:h-max
        text-[15px] leading-[18px]
    }
    .moreAcceleratorTheLoop {
        @apply absolute bg-center bg-no-repeat bg-contain 
        md:h-[312px] md:w-[1200px]
        h-[109px] w-[498px]
        md:bottom-0 bottom-[95px] md:left-[-10px] left-[-173px]
        bg-moreAcceleratorLoop
    }
    .contactText {
        @apply text-c_blue-dark font-otf-normal not-italic
        md:text-[50px] md:leading-[55px] ms:w-[870px] ms:pb-[75px]
        text-[26px] leading-[31px]  w-[90vw] pb-[30px]
    }
    .contactLink {
        @apply opacity-[1] text-c_orange-regular pl-[5px] duration-500
        hover:cursor-pointer hover:opacity-70
        active:cursor-pointer   active:opacity-70
        border-b-[1px] border-b-[rgba(255,119,0,.3)] 
    }

}    

@font-face {
    font-family: 'otf-semiBold';
    src: url("/public/fonts/otf/SuisseIntl-SemiBold.otf");
}
@font-face {
    font-family: 'otf-normal';
    src: url("../public/fonts/otf/SuisseIntl-Regular.otf");
}
@font-face {
    font-family: 'otf-book';
    src: url("../public/fonts/otf/SuisseIntl-Book.otf");
}
@font-face {
    font-family: 'otf-bold';
    src: url("../public/fonts/otf/SuisseIntl-Bold.otf");
}

@layer utilities{
    .trapezoid {
        clip-path: polygon(0 45%, 45% 0, 100% 0, 0% 100%);
    }
    .gradientBackGround {
        background: 
            linear-gradient(181.04deg, #2E2B59 0.89%, #32476F 50.61%, #4B3882 93.94%), 
            linear-gradient(180.43deg, #2E2B59 37.77%, #3991B7 60.04%, #B97333 78.65%);
    }
    .startRadius {
        border-radius: 29px 0px 0px 0px;
    }
    .photoRadius {
        border-radius: 10px 60px;
    }
    .cardRadius {
        border-radius: 4px 25px;
    }
}